{% extends "::layout/layout.html.twig" %}

{% block titre %}{{ produit.nom }}{% endblock %}
{% block description %}{{ produit.description }}{% endblock %}

{% block body %}
    <div id="content">
    <div class="block text padded" itemscope itemtype="http://data-vocabulary.org/Product">
        <meta itemprop="url" content="http://flamingo-theme.myshopify.com/products/aspen" />
        <meta itemprop="image" content="{{ produit.image.AssetPath|imagine_filter('produit') }}" />

        <div id="crumbregion" class="padded">

            <div class="crumbs desktop-only">

            </div>
        </div>

        <div class="padded cf">
            <div id="product-gallery" class="lb">
                <div class="main-image onlyimage">
                    <a href="../../cdn.shopify.com/s/files/1/0183/5415/products/shutterstock_109310339b500.jpg?v=1348748941" title="Aspen" data-index="0">
                        <img src="{{ produit.image.AssetPath|imagine_filter('produit') }}" alt="{{ produit.nom }}"/>
                    </a>
                </div>


            </div><!-- /#product-gallery -->

            <div id="product-info">
                <div class="inner">


                    <div class="majorinfo ">


                        <h1 class="product-title" itemprop="name">{{ produit.nom }}</h1>

                        <div class="pricearea" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">

                            <span class="price" itemprop="price">{{ produit.prix|tva(produit.tva.multiplicate) }} dt</span>
                            <meta itemprop="currency" content="GBP" />
                        </div>

                        <p>Cat&eacute;gorie: <span itemprop="brand"><a href="" title="">{{ produit.categorie.nom }}</a></span></p>

                    </div>


                        <div class="productoptions section">


                            <input type="hidden" name="id" value="243178390" />


                            {% if panier[produit.id] is not defined %}
                                <form action="{{ path('ajouter', { 'id' : produit.id }) }}" method="get">
                                    <div>
                                        <label for="quantity">Quantit&eacute;</label>
                                        <div class="quantadd">
                                            <input id="quantity" name="qte" value="1" size="2" />
                                            <input type="submit" name="add" id="add-to-cart" value="Ajouter au panier" />
                                        </div>
                                    </div>

                                </form>
                            {% else %}
                                <div>
                                    <a href="{{ path('panier') }}" class="btn btn-primary">Le produit est déjà dans votre panier</a>
                                </div>
                            {% endif %}

                        </div><!-- /.options -->


                    <div class="morelinks section">

                        <div class="contentsection">Voir plus: <a href="" title="Fruit">Fruit</a></div>

                        <div class="tags">Mots clés:

                            <a href="">impression,</a>
                            <a href="">rouge,</a>

                        </div>

                    </div><!-- /.morelinks -->


                    <div class="social sharing row">
                        <span class="label">Partager</span>

                        <ul>

                            <li class="facebook"><a title="Share on Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://flamingo-theme.myshopify.com/products/aspen"><i class="icon-facebook"></i></a></li>

                            <li class="twitter"><a title="Share on Twitter" target="_blank" href="https://twitter.com/intent/tweet?text=Check%20out%20Aspen:%20http://flamingo-theme.myshopify.com/products/aspen"><i class="icon-twitter"></i></a></li>


                            <li class="pinterest"><a title="Pin the main image" target="_blank" href="../../pinterest.com/pin/create/button/index0fbe.html?url=http://flamingo-theme.myshopify.com/products/aspen&amp;media=http://cdn.shopify.com/s/files/1/0183/5415/products/shutterstock_109310339.jpeg?v=1348748941&amp;description=Aspen"><i class="icon-pinterest"></i></a></li>


                            <li class="google"><a title="Share on Google+" target="_blank" href="https://plus.google.com/share?url=http://flamingo-theme.myshopify.com/products/aspen"><i class="icon-googleplus"></i></a></li>

                            <li class="email"><a title="Share using email" href="mailto:?subject=Check%20out%20Aspen&amp;body=Check%20out%20Aspen:%0D%0A%0D%0Ahttp://flamingo-theme.myshopify.com/products/aspen"><i class="icon-mail"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div><!-- /#product-info -->
        </div><!-- /.padded -->

        <div class="descriptionunder padded" itemprop="description">
            <meta charset="utf-8">
            <p>{{ produit.description }}.</p>
        </div>

    </div></div>
{% endblock %}